@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;700;800;900&display=swap');
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
/* Header */
.navigator{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
main, .navigator{   
    max-width: 1400px;
    margin: auto;
    box-sizing: border-box;
    padding: 2rem;
    padding-top: 0%;
}
.nav-list{
    align-items: center;
    padding-left: 0px;
    margin-right: 30px;    
}
.color-navi{
    color:#0065fc;
    font-weight: bold;
}
/*hover */
.nav-list:hover{
    border-top: solid 2px #0065fc;
    padding-top: 2.6rem;
    color: #0065fc;
   
}
.bar-nav{
    padding-top: 2.6rem;
}
.bar-nav{
    display: block;
}
.logo{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
/* search */
.search-box{
    border-top: solid 1px #ebe9e9;
    border-bottom: solid 1px #ebe9e9 ;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    border-right: none;
    border-left: none;
    padding-left: 35px;
}
input[type=search]{
    box-sizing: border-box;
    padding-left: 20px;
    font-weight: 700;
    font-size: 18px;
}
.change-icon{
    font-size: 20px;
    color: black;
}
.search-input{
    display: flex;
}
.search-button{
    border:none;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #0065fc;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 18px;
}
.search-button_mobile{
    display: none;
}
.header-search h1{
    margin-bottom: 0%;
    font-weight: 800;
    font-size: 25px;
}
/* container */
.marker-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #f3f2f2;
}
.container-filter-all{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
}
.container-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f3f2f2;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
}
.container-filter:hover,
.container-filter:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
.filter-info{
    margin-left: 25px;
    margin-right: 25px;
}
.filter-h2{
    padding-right: 30px;
}
.info-disponibility{
    display: flex;
    align-items: center;
    margin-top: 0%;
}
.container-filter-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background: #deebff;
}
.filter-icon{
    font-size: 17px;
    color: #0065fc;
}
.info-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #deebff;
    border-radius: 50%;
    margin-right: 15px;
    padding: 5px;
    height: 15px;
    width: 15px;
}
.info-marker{
    font-size: 15px;
    color: #0065fc
}
/* hosting */
.hosting-header{
    grid-template-columns: 1fr;
}
.hosting-container{
    display: grid;
    grid-template-columns: 6fr 3fr;
    column-gap: 2rem;
}
#hosting{
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 40px;
    padding-top: 20px;
}
.hosting-card_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    padding-bottom: 40px;
}
.hosting-figure img{
    height: 7rem;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0;
}
.hosting-figure{
    margin: 2px;
}
.hosting-card{
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 0 0 16px #0000002e;
}
.hosting-card:hover{
    transform: scale(1.05);
}
.hosting_showmore{
    display: flex;
    font-weight: bold;
    font-size: 18px
}
/* more popular */
.most-popular-card_container{
    display: grid;
    row-gap: 40px;
    align-items: start;  
}
.most-popular_header h2{
    font-weight: 800;
    font-size: 25px;
}
.popular-icon{
    display:flex;
    align-items: center;
    justify-content:right;
    padding-left: 90px;
}
.most-popular{
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 40px;
    padding-top: 20px;
    flex-grow: 1;
}
.most-popular_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.most-popular_card{
    background-color: white;
    padding: 5px;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}
.most-popular-icon{
    display: flex;
    align-items: flex-end;
}
.most-popular_card:hover{
    transform: scale(1.05);
}
.most-popular_card img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 150px;
    width: 40%;
    object-fit: cover;
}
.most-popular_figure{
    display: flex;
    margin: 2px;
    align-items: stretch;
}
.hosting-card-content{
    padding-left: 5px;
    padding-bottom: 5px;
}
.hosting-card_h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.hosting-card_p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.icon-star-blue{
    font-size: 15px;
    color: #0065fc
}
.icon-star-grey{
    font-size: 15px;
    color: #f2f2f2;
}
/* activities */
.activities-card_container{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 250px 250px;
    gap: 50px 50px;
    grid-template-areas:
      "activities-card_container-1 activities-card_container-2 activities-card_container-4 activities-card_container-5"
      "activities-card_container-1 activities-card_container-3 activities-card_container-4 activities-card_container-6";
  }
  
  .activities-card_container-1 { grid-area: activities-card_container-1; }
  
  .activities-card_container-2 { grid-area: activities-card_container-2; }
  
  .activities-card_container-3 { grid-area: activities-card_container-3; }
  
  .activities-card_container-4 { grid-area: activities-card_container-4; }
  
  .activities-card_container-5 { grid-area: activities-card_container-5; }
  
  .activities-card_container-6 { grid-area: activities-card_container-6; }
  
.activities-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;  
    transition-duration: 0.1s;
}
.activities-container:hover{
    opacity: .5;
    transform: scale(1.05);
}
.activities-card{
    position: relative;
    flex: 1;
}
.img-activities-card{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.activities-card-h3{
    margin: 1.2rem 1.5rem;
}
/* footer */
footer{
    display: flex;
    background-color: #f2f2f2;
    width: 100%;
    margin-top: 20px;
}
.footer-container{
    display: flex;
    max-width: 100%;
    width: 1400px;
    margin: auto;
    margin-bottom: 50px;
    padding-left: 50px;
}
.footer-about{
    margin-right: 150px;
}
.footer-hosting{
    margin-right: 150px;
    margin-left: 150px;
}
.footer-assistance{
    margin-left: 150px;
}
.footer-container h3{
    margin-top: 50px;
    margin-bottom: 30px;
}
@media (max-width: 1400px){
    
    .hosting-container{
        grid-template-columns: 1fr;
    }
    .most-popular{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 10rem;
        row-gap: 2rem;
        column-gap: 2rem;
        grid-row: 1;
    }
    .most-popular{
        margin-bottom: 40px;
    }
    .most-popular-card_container{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 40px;
    }
    .activities-card_container{
        gap: 40px 40px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 300px;
        grid-template-areas:
        "activities-card_container-1 activities-card_container-3 activities-card_container-5"
        "activities-card_container-2 activities-card_container-4 activities-card_container-6";
    }
    .activities-card_container-1 { grid-area: activities-card_container-1; }
    .activities-card_container-2 { grid-area: activities-card_container-2; }
    .activities-card_container-3 { grid-area: activities-card_container-3; }
    .activities-card_container-4 { grid-area: activities-card_container-4; }
    .activities-card_container-5 { grid-area: activities-card_container-5; }
    .activities-card_container-6 { grid-area: activities-card_container-6; }
}
@media (max-width: 1100px){
    .most-popular-card_container{
        grid-template-columns: 3fr;
    }
    .hosting-card_container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .most-popular{
        margin-bottom: 40px;
    }
    .footer-about{
        margin-right: 90px;
    }
    .footer-hosting{
        margin-right: 90px;
        margin-left: 90px;
    }
    .icon-star-blue {
        font-size: 15px;
    }
    .icon-star-grey {
        font-size: 15px;
    }
}
@media (max-width: 1024px){
    .navigator{
        align-items: initial;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0px;
    }
    .logo{
        align-items: left;
        padding-left: 20px;
    }
    .color-navi{
        position:absolute;
        top: 0;
        right: 0;
        padding-top: 40px;
        padding-right: 40px;
        margin-right: 0px;
    }
    .nav-list:hover{
        border-top: solid 2px #0065fc;
        padding-top: 2rem;
        color: #0065fc;
    }
    .nav-list{
        margin-right: 0px;
    }
    .bar-nav{
        display: flex;
        justify-content:center;
        border-bottom: solid 2px #d8d8d8
    }
    .bar1{
        padding-right: 210px;
        padding-left: 210px;
        padding-bottom: 15px;
    }
    .bar2{
        padding-left: 210px;
        padding-right: 210px;
        padding-bottom: 15px;
    }
    .bar1:hover{
        
        padding-top: 0px;
        border-top: hidden;
        border-bottom: solid 2px #0065fc;
        color: #0065fc;
    }
    .bar2:hover{
        
        padding-top: 0px;
        border-top: hidden;
        border-bottom: solid 2px #0065fc;
        color: #0065fc;
    }
}
@media(max-width: 822px){
    .navigator{
        align-items: initial;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0px;
    }
    .logo{
        align-items: left;
        padding-left: 20px;
    }
    .color-navi{
        position:absolute;
        top: 0;
        right: 0;
        padding-top: 40px;
        padding-right: 40px;
        margin-right: 0px;
    }
    .nav-list:hover{
        border-top: solid 2px #0065fc;
        padding-top: 2rem;
        color: #0065fc;
    }
    .nav-list{
        margin-right: 0px;
    }
    .bar-nav{
        display: flex;
        justify-content:center;
        border-bottom: solid 2px #d8d8d8
    }
    .bar1{
        padding-right: 150px;
        padding-left: 150px;
        padding-bottom: 15px;
    }
    .bar2{
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 15px;
    }
    .bar1:hover{
        
        padding-top: 0px;
        border-top: hidden;
        border-bottom: solid 2px #0065fc;
        color: #0065fc;
    }
    .bar2:hover{
        
        padding-top: 0px;
        border-top: hidden;
        border-bottom: solid 2px #0065fc;
        color: #0065fc;
    }
    .container-filter{
        margin-left: 0px;
    }
    .container-filter-all{
        padding-left: 0px;
    }
    .most-popular{
        margin-bottom: 40px;
    }
    .footer-about{
        margin-right: 50px;
    }
    .footer-hosting{
        margin-left: 50px;
        margin-right: 50px;
    }
    .footer-assistance{
        margin-left: 50px;
    }
@media (max-width: 650px){
    main{
        padding: 0px;
    }
    .navigator{
        align-items: initial;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0px;
    }
    .logo{
        align-items: left;
        padding-left: 20px;
    }
    .color-navi{
        position:absolute;
        top: 0;
        right: 0;
        padding-top: 2rem;
    }
    .nav-list:hover{
        border-top: solid 2px #0065fc;
        padding-top: 2rem;
        color: #0065fc;
    }
    .nav-list{
        margin-right: 0px;
    }
    .bar-nav{
        display: flex;
        justify-content:center;
        border-bottom: solid 2px #d8d8d8
    }
    .bar1{
        padding-right: 70px;
        padding-bottom: 15px;
    }
    .bar2{
        padding-left: 70px;
        padding-bottom: 15px;
    }
    .color-navi{
        padding-right: 40px;
        padding-top: 40px;
    }
    .bar1:hover{
        
        padding-top: 0px;
        border-top: hidden;
        border-bottom: solid 2px #0065fc;
        color: #0065fc;
    }
    .bar2:hover{
        
        padding-top: 0px;
        border-top: hidden;
        border-bottom: solid 2px #0065fc;
        color: #0065fc;
    }
    .header-search{
        padding: 20px 20px 0px 20px;
    }
    .search-input{
        padding-left: 20px;
    }
    .search-box{
        overflow: hidden;
    }
    .search-button_mobile{
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 600;
        background: #0065fc;
        color: white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border: transparent;
        font-size: 17px;
    }
    .search-button {
        display: none;
    }
    .container-filter-all{  
        flex-direction: column;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }
    .container-filter{
        margin-left: 0px;
    }
    .info-disponibility{
        padding-left: 20px;
    }
    .hosting-card_container{
        grid-template-columns: repeat(1, 1fr);
    }
   #hosting{
       background-color: white; 
       padding-left: 20px;
       padding-right: 20px;
       grid-row: 2;
   }
   .popular-icon{
       display: flex;
       align-items: flex-end;
       padding-left: 320px;
   }
   .most-popular{
       padding-right: 20px;
       padding-left: 20px;
       border-radius: 0px;
       background-color: #f2f2f2;
       margin: 0px;
   }
   .most-popular-card_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   }
   .activities-header{
       padding-left: 20px;
   }
   .activities-card_container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    gap: 40px 0px;
    grid-template-areas:
    "activities-card_container-1"
    "activities-card_container-2"
    "activities-card_container-3"
    "activities-card_container-4"
    "activities-card_container-5"
    "activities-card_container-6";
    padding-left: 20px;
    padding-right: 20px;
}
.activities-card_container-1 { grid-area: activities-card_container-1; }
.activities-card_container-2 { grid-area: activities-card_container-2; }
.activities-card_container-3 { grid-area: activities-card_container-3; }
.activities-card_container-4 { grid-area: activities-card_container-4; }
.activities-card_container-5 { grid-area: activities-card_container-5; }
.activities-card_container-6 { grid-area: activities-card_container-6;
}
.footer-container{
    flex-direction: column;
}
.footer-assistance{
    margin-left:0px ;
}
.footer-hosting{
    margin-left: 0px;
}
.activities-header{
    align-items: center;
}
}
@media screen and (max-width: 375px){

    .color-navi{
        padding-top: 50px;
        padding-right: 10px;
    }
    .color-navi:hover{
        padding-top: 50px;
    }
    .logo{
        padding-left: 10px;
    }
    .color-navi{
        padding-right: 20px;
    }
    .bar1{
        padding-right: 50px;
        padding-left: 0px;
    }
    .bar2{
        padding-left: 50px;
        padding-right: 0px;
    }
    .search-input{
        padding-right: 20px;
    }
    .most-popular-card_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
    .popular-icon{
        padding-left: 17px;
    }
}

    

