@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;700;800;900&display=swap');
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.navigator{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
main, .navigator, footer{   
    max-width: 1400px;
    margin: auto;
    box-sizing: border-box;
    padding: 2rem;
    padding-top: 0%;
}
.nav-list{
    align-items: center;
    padding-left: 0px;
    padding-right: 30px;    
}
.color-navi{
    color:#0065fc;
    font-weight: bold;
}
.bar-nav{
    padding-top: 2.6rem;
}
.bar-nav{
    display: block;
}
.logo{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.search-box{
    border-top: solid 1px #ebe9e9;
    border-bottom: solid 1px #ebe9e9 ;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    border-right: none;
    border-left: none;
    padding-left: 35px;
}
input[type=search]{
    box-sizing: border-box;
    padding-left: 20px;
    font-weight: 700;
    font-size: 18px;
}
.change-icon{
    font-size: 20px;
    color: black;
    
}
.search-input{
    display: flex;
}
.search-button{
    border:none;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #0065fc;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 18px;
}
.header-search h1{
    margin-bottom: 0%;
    font-weight: 800;
    font-size: 25px;
}
.marker-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #f3f2f2;
}
.container-filter-all{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.container-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f3f2f2;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;

}
.filter-info{
    margin-left: 25px;
    margin-right: 25px;
}
.filter-h2{
    padding-right: 30px;
}
.info-disponibility{
    display: flex;
    align-items: center;
    margin-top: 0%;
}
.container-filter-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background: #deebff;
}
.filter-icon{
    font-size: 17px;
    color: #0065fc;
}
.info-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #deebff;
    border-radius: 50%;
    margin-right: 15px;
    padding: 5px;
    height: 15px;
    width: 15px;
}
.info-marker{
    font-size: 15px;
    color: #0065fc
}
.hosting-header{
    grid-template-columns: 1fr;
}
.hosting-container{
    display: grid;
    grid-template-columns: 6fr 3fr;
    column-gap: 2rem;
}
#hosting{
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 40px;
    padding-top: 20px;
}
.hosting-card_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    padding-bottom: 40px;
}
.hosting-figure img{
    height: 7rem;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0;
}
.hosting-figure{
    margin: 2px;
}
.hosting-card{
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 0 0 16px #0000002e;
}
.hosting_showmore{
    display: flex;
    font-weight: bold;
    font-size: 18px
}
.most-popular-card_container{
    display: grid;
    row-gap: 40px;
    align-items: start;  
}
.most-popular_header h2{
    font-weight: 800;
    font-size: 25px;
}
.most-popular{
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 40px;
    padding-top: 20px;
    flex-grow: 1;
}
.most-popular_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.most-popular_card{
    background-color: white;
    padding: 5px;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}
.most-popular_card img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 150px;
    width: 40%;
    object-fit: cover;
}
.most-popular_figure{
    display: flex;
    margin: 2px;
    align-items: stretch;
}
.hosting-card-content{
    padding-left: 5px;
    padding-bottom: 5px;
}
.hosting-card_h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.hosting-card_p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.icon-star-blue{
    font-size: 15px;
    color: #0065fc
}
.icon-star-grey{
    font-size: 15px;
    color: #f2f2f2;
}
.activities-card_container{
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(2, 200%);
  gap: 50px 50px;
  grid-template-areas:
    "activities-card_container-1 activities-card_container-2 activities-card_container-4 activities-card_container-5"
    "activities-card_container-1 activities-card_container-3 activities-card_container-4 activities-card_container-6";
}
.activities-card_container-1 { grid-area: activities-card_container-1; }
.activities-card_container-2 { grid-area: activities-card_container-2; }
.activities-card_container-3 { grid-area: activities-card_container-3; }
.activities-card_container-4 { grid-area: activities-card_container-4; }
.activities-card_container-5 { grid-area: activities-card_container-5; }
.activities-card_container-6 { grid-area: activities-card_container-6; }

.activities-card{
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 0 0 16px #0000002e;
}
.img-activities-card{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}


